.DS_Store
.idea
*.log
tmp/

# Rust
**/target

# Go
go-palindrome/go-palindrome

# Haskell
dist-newstyle/
*.hi
*.o
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*

# Common Lisp
*.fasl
*.fas
*.lib
*.x86f
*.axpf
*.w64fsl
*.w32fsl
*.nfasl
*.pfsl
*.dfsl
*.cfsl
*.sparcf
*.hpf
*.s390f
*.s390xfsl
*.armf
*.osf
*.l64f
*.l32f
*.l64fsl
*.l32fsl
*.lx64fsl
*.lx32fsl
*.wx64fsl
*.wx32fsl
*.dx64fsl
*.dx32fsl
*.fx64fsl
*.fx32fsl
*.sx64fsl
*.sx32fsl
*.64xfasl
*.32xfasl
*.fasl-tmp

# Build artifacts
target-bin/palprod-fast-smallest-inner
target-bin/palprod-fast-largest-inner
target-bin/palprod-rust-largest
target-bin/palprod-rust-smallest
target-bin/palprod-go-largest
target-bin/palprod-go-smallest
target-bin/palprod-haskell-largest
target-bin/palprod-haskell-smallest
